    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .body {
        font-family: sans-serif;
        width: 1280px;
        margin: 0 auto;
    }
    
    .container {
        margin: 26px 330px;
    }
    
    .menu {
        display: flex;
        justify-content: space-around;
        font-weight: bold;
        font-size: 18px;
        text-transform: uppercase;
    }
    
    .menu-list-link {
        color: #FF0000;
        text-decoration: none;
        transition: 1s;
    }
    
    .menu-list-link :hover {
        color: brown
    }
    
    .photo {
        width: 1280px;
        height: 789px;
    }
    
    .hero-title {
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        letter-spacing: 3.3px;
        text-transform: uppercase;
        color: #373737;
        margin: 49px 253px 38px 253px;
        text-align: center;
    }
    
    .hero-title-text {
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 2.4px;
        color: #373737;
        margin: 38px 68px 28px 68px;
        text-align: center;
    }
    
    .hero-button {
        margin-top: 66px;
        text-align: center;
    }
    
    .hero-button-link {
        background: #FF0000;
        border-radius: 4px;
        text-decoration: none;
        color: white;
        padding: 18px 44px 18px 44px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
        letter-spacing: 1.8px;
        border: 1px solid #FFFFFF;
    }
    
    .hero-footer {
        font-size: 16px;
        line-height: 20px;
        font-weight: bold;
        letter-spacing: 2.4px;
        color: #373737;
        text-align: right;
        margin: 82px 105px 29px 713px;
    }